<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.fatecpg.ads.pdm.meuesmalte"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.fatecpg.ads.pdm.meuesmalte.ApresentacaoActivity"
            android:label="@string/app_name"
            android:theme="@style/ApresentacaoActivityTema" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.fatecpg.ads.pdm.meuesmalte.PrincipalActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
    </application>

</manifest>
